* {
  color: white;
}

.user-list-container {
  display: flex;
  width: 250px;
  height: 100vh;
  background-color: rgb(77, 77, 252);
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 0px 8px 8px 0px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.user-list {
  flex-grow: 1;
  overflow: hidden;
}

.user-list:hover {
  overflow: auto;
}

.user-item {
  display: flex;
  width: 100%;
  justify-content: stretch;
}
