* {
  color: white;
}

.user-list-container {
  display: flex;
  width: 250px;
  height: 100%;
  flex-shrink: 0;
  background-color: rgb(77, 77, 252);
  flex-wrap: wrap;
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 0px 8px 8px 0px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.empty-users {
  display: flex;
  text-align: center;
  color: white;
  font-style: oblique;
  justify-content: center;
}

.user-list {
  display: flex;
  color: white;
  width: 100%;
  justify-content: stretch;
}
