<div class="user-list-container flex-column">
  <h3 class="fs-5 py-4 d-flex justify-content-center">Lista de usuarios</h3>

  <div class="list-header px-3 py-1">
    <div class="d-flex flex-row align-items-center">
      <span *ngIf="!showSearchUserInput">{{ users.length }}</span
      >&nbsp;
      <span *ngIf="!showSearchUserInput">Usuarios conectados </span>
      <input
        #searchInput
        *ngIf="showSearchUserInput"
        class="form-control"
        type="text"
        placeholder="Filtra usuarios"
        [(ngModel)]="userToSearch"
        (blur)="onInputBlur()"
      />
    </div>
    <button
      *ngIf="!showSearchUserInput"
      mat-icon-button
      class="d-flex align-items-center"
      (click)="toggleSearchUserInput()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="user-list">
    <div
      *ngFor="let user of users | filter : userToSearch"
      class="user-item p-3"
    >
      <mat-icon>person</mat-icon>
      <span>{{ user }}</span>
    </div>
  </div>

  <div
    align="center"
    class="w-100 d-flex align-items-center justify-content-center"
  >
    <button
      mat-button
      class="d-flex align-self-center m-2"
      (click)="reloadPage()"
    >
      <span>Cerrar sesión</span>
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
